.paperChildren {
	width: 100%;
	height: 100%;
}

.titleSection {
	max-width: 1180px;
	display: flex;
	justify-content: space-around;
	margin: 0 20px;
	padding: 60px 0;
}

.titleLeft {
	display: block;
}

.titleRight {
	display: block;
}

#mainText {
	font-size: clamp(1rem, 5vw, 3rem);
	margin: 0;
	color: white;
	margin-block-start: 0.67em;
	margin-block-end: 0.67em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

#secondaryText {
	font-size: clamp(0.5rem, 4vw, 1.3rem);
	margin: 0;
	color: #8f8f8f;
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: 500;
}

#transparentIllustration {
	max-height: 250px;
	margin-top: 30px;
}

#topRow {
	margin-top: 50px;
}

#bottomRow {
	display: flex;
	margin-top: 20px;
	margin-bottom: 180px;
	flex-direction: row;
	column-gap: 18px;
}

#customStreakText {
	position: relative;
	font-size: 45px;
	color: #d1d5db;
	left: 120px;
	top: 50px;
}

#createYourOwnText {
	position: relative;
	font-size: 20px;
	color: #cbd5e0;
	left: 120px;
	top: 30px;
}

#playText {
	position: relative;
	font-size: 30px;
	color: #d1d5db;
	left: 120px;
	top: 320px;
}

#arrowSymbol {
	position: relative;
	font-size: 30px;
	color: #d1d5db;
	left: 195px;
	top: 263px;
	transition-duration: 0.1s;
}

.paperChildren:hover #arrowSymbol {
	padding-left: 6px;
	transition-duration: 0.1s;
}

#boardIllustration {
	position: relative;
	height: 350px;
	left: 540px;
	bottom: 95px;
	border-radius: 10px;
}

#chessVisionText {
	position: relative;
	font-size: 35px;
	color: #d1d5db;
	left: 80px;
	top: 40px;
	word-spacing: 9999999px;
}

#bottomLeftIllustration {
	position: relative;
	height: 370px;
	left: 330px;
	bottom: 115px;
	border-radius: 10px;
}

#forceMateText {
	position: relative;
	font-size: 35px;
	color: #d1d5db;
	left: 80px;
	top: 40px;
	word-spacing: 9999999px;
}

#bottomRightIllustration {
	position: relative;
	height: 370px;
	left: 330px;
	bottom: 115px;
	border-radius: 10px;
}
