#background {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #202020;
	min-height: 100vh;
}

#board {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#topRow {
	margin-top: 200px;
	padding: 30px;
}

#topRowChildren {
	width: 100%;
	height: 100%;
}

#bottomRow {
	margin-bottom: 150px;
}

#customStreakText {
	position: relative;
	font-size: 45px;
	color: #d1d5db;
	left: 120px;
	top: 50px;
}

#createYourOwnText {
	position: relative;
	font-size: 20px;
	color: #cbd5e0;
	left: 120px;
	top: 30px;
}

#playText {
	position: relative;
	font-size: 30px;
	color: #d1d5db;
	left: 120px;
	top: 320px;
}

#arrowSymbol {
	position: relative;
	font-size: 30px;
	color: #d1d5db;
	left: 195px;
	top: 261px;
	transition-duration: 0.1s;
}

#topRowChildren:hover #arrowSymbol {
	padding-left: 5px;
	transition-duration: 0.1s;
}

#boardIllustration {
	position: relative;
	height: 350px;
	left: 540px;
	bottom: 95px;
	border-radius: 10px;
}

#inputText {
	text-align: center;
	color: #779556;
	padding: 40px;
}

#inputHeader {
	align-items: center;
}

#inputContainer {
	display: flex;
	height: 440px;
	padding: 80px;
}

#button-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#addButton {
	background-color: #779556;
	width: 120px;
	height: 40px;
	border: none;
	border-radius: 5px;
	color: white;
	text-align: center;
	font-size: 16px;
}

#submitButton {
	background-color: #202020;
	width: 120px;
	height: 40px;
	border-radius: 5px;
	border: 1px solid;
	margin-top: 10px;
	border-color: #779556;
	color: white;
	text-align: center;
	font-size: 16px;
}
