#background {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #202020;
	min-height: 100vh;
}

#board {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#inputText {
	text-align: center;
	color: #779556;
	padding: 40px;
}

#inputHeader {
	align-items: center;
}

#inputContainer {
	display: flex;
	height: 440px;
	padding: 80px;
}

#button-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#addButton {
	background-color: #779556;
	width: 120px;
	height: 40px;
	border: none;
	border-radius: 5px;
	color: white;
	text-align: center;
	font-size: 16px;
}

#submitButton {
	background-color: #202020;
	width: 120px;
	height: 40px;
	border-radius: 5px;
	border: 1px solid;
	margin-top: 10px;
	border-color: #779556;
	color: white;
	text-align: center;
	font-size: 16px;
}
